{% extends "bootstrap/base.html" %}
{% block title %}{{ g.blog_config.window_title }}{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> 
  {% assets "style_css" %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></link>
  {% endassets %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default navbar-static-top">
  <div class="container col-md-offset-1">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% for category in cls.categories() %}
          <li {% if active_category == category.slug %}class="active"{% endif %}>
            <a href="{{ cls.url_for('category', catslug=category.slug) }}">{{ category.name }}</a>
          </li>
      {% endfor %}
          <li {% if is_all %}class="active"{% endif %}>
            <a href="{{ cls.url_for('all_entries') }}">All</a>
          <li>
          
          <li {% if is_archives %}class="active"{% endif %}>
            <a href="{{ cls.url_for('archives') }}">Archives</a>
          </li>
     
     {# Atom Feeds #}
          <li class="dropdown">
            {# Button: #}
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <i class="fa fa-rss"></i> Feeds<span class="caret"></span>
            </a>
            {# List of available feeds: #}
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="{{ url_for('atom_feed_entries') }}"><i class="fa fa-file-text-o"></i> Entries</a>
              </li>
              <li>
                <a href="{{ url_for('atom_feed_comments') }}"><i class="fa fa-comments"></i> Comments</a>
              </li>
            </ul>
          </li>

          {# Search form: #}
            <form class="navbar-form navbar-left"
                  action="{{ cls.url_for('search') }}"
                  method="post"
                  role="search"
                  name="search">
              {{ g.search_form.hidden_tag() }}
                {{ g.search_form.search(size=15, placeholder="Search") }}
           </form>
       
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}

{% if cls.is_preview %}
  <div class="pos-fixed-top-right">
    <p class="preview-box">
      <span>Preview Version</span> | 
      <a href="/">Admin</a> |
      <a href="{{ url_for('PublicView.home') }}">Public</a>
    </p>
  </div>
{% endif %}

<div class="container" style="padding-top: 0px">
  <div class="col-md-offset-1 blog-masthead">
    <h1>
        {{ g.blog_config.blog_title }}
    </h1>
    <p></p>
    <p style="padding-left: 20px" class="lead blog-description">
      {% autoescape off %}
        {{ g.blog_config.blog_subtitle }}
      {% endautoescape %}
    </p>
  </div>
  
  <div class="row">
    <div class="col-md-offset-1 col-sm-9 col-md-8 blog-main" 
         style="max-width: 560px !important"
         id="main">
      {% block main %}
      {% endblock %}
    </div>
    
    <div class="blog-sidebar col-sm-3 col-md-3
                col-md-offset-1
                col-sm-offset-0"
         role="navigation">
        
      <!--
         Because [docker.js](http://jbt.github.io/docker/README.md.html)
         does not support [Jinja](http://jinja.pocoo.org/), we have to use
         HTML comments in the templates (ugly!)
         
         Someone has to add some king of **Jinja** support to **docker.js**,
         because **docker.js** is f*** ing awesome.
      -->
      {% block sidebar %}
        {% include "sidebar-modules.html" %}
      {% endblock %}
    </div>
  </div>
</div>    

{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ moment.include_jquery() }}
  {{ moment.include_moment() }}
  {% include "highlightjs-script.html" %}
  {% include "mathjax-script.html" %}
{% endblock %}

